/* -- General Styles -- */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #0f0f0d;
	color: #fff;
	margin-top: 50px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* -- Header (logo and nav) -- */
#header-img {
	margin-top: 15px;
}

#header-img img {
	width: 83px;
	height: 42px;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
	overflow: hidden;
	background-color: #0f0f0d;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
}

.menu {
	display: flex;
	align-items: center;
}

.menu li a {
	display: block;
	padding: 10px 6px;
	flex: 1;
}

#nav-bar {
	margin-top: 8px;
}

#nav-bar ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

#nav-bar li {
	/* margin-bottom: 15px; */
	text-align: center;
	font-size: 12px;
}

#nav-bar a {
	text-decoration: none;
	color: #fff;
}

html {
	scroll-padding-top: 125px; /* height of sticky header */
}

/* -- Banner image area -- */
#banner {
	margin-top: 25px;
}

#banner img {
	display: block;
	margin: auto;
	max-width: 87.5%;
}

/* -- About paragraph -- */
#about {
	margin-top: 50px;
	max-width: 87.5%;
	line-height: 1.5;
}

/* -- WINE CARDS -- */
/* -- Base Styles */
.card-container {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.white-card,
.mixed-card {
	margin-top: 25px;
}

.red-card,
.white-card,
.mixed-card {
	height: 320px;
	width: 280px;
	background-color: white;
	border-radius: 10px;
}

/* -- Card Header -- */
.card-header {
	width: 280px;
	height: 65px;
	border-radius: 10px 10px 0 0;
	display: flex;
	flex-direction: row;
}

.red-head {
	background-color: #f6e6e8;
	border-bottom: solid 2px #aa0919;
}

.white-head {
	background-color: #f1f5e5;
	border-bottom: solid 2px #71a100;
}

.mixed-head {
	background-color: #fdf5e5;
	border-bottom: solid 2px #eda200;
}

.card-header .wine-icon {
	width: 48px;
	height: 51px;
	margin-top: 7px;
	margin-left: 10px;
}

/* -- Card Title -- */
.title-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-basis: 100%;
}

.card-title {
	margin-top: 15px;
	font-size: 30px;
	text-transform: uppercase;
	color: #2c0d12;
	font-weight: bold;
}

.red-head .card-title {
	padding-left: 50px;
}
.white-head .card-title {
	padding-left: 35px;
}
.mixed-head .card-title {
	padding-left: 40px;
}

/* -- Card Body -- */
.card-body p {
	color: #2c0d12;
	margin-top: 10px;
	margin-left: 15px;
	line-height: 1.5;
}

.wine-selection {
	display: flex;
	flex-direction: row;
}

.wine-selection img {
	width: 19px;
	height: 18px;
	margin-left: 15px;
	margin-top: 2px;
}

p.varietal-name {
	margin: 0 6px;
}

/* -- Card Footer -- */
.card-footer {
	display: flex;
	flex-direction: row;
}

.price-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-basis: 100%;
}

.card-price {
	color: #0f0f0d;
	font-size: 24px;
	margin: 20px 0 0 114px;
}

img.shopping-cart {
	width: 40px;
	height: 40px;
	margin-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* -- Video -- */
#video {
	margin-top: 50px;
}

#video iframe {
	height: 158px;
	width: 280px;
	border: none;
}

/* -- Form -- */
#form {
	margin-top: 50px;
}

input {
	width: 280px;
	height: 40px;
	padding-left: 10px;
	display: block;
	margin: auto;
}

.submit-button {
	display: block;
	margin: 15px auto;
	width: 143px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	background-image: linear-gradient(#f0d1a0, #e27301);
	border: none;
	box-shadow: 1px 1px 2px 0 rgba(255, 255, 255, 0.45);
	cursor: pointer;
}

.coupon {
	width: 280px;
	text-align: center;
	margin-bottom: 0;
	line-height: 1.5;
}

/* -- Social Media -- */
.social {
	margin-top: 50px;
	margin-bottom: 50px;
}

.social p {
	margin-top: 0;
	font-size: 18px;
	text-align: center;
}

.social-icons img {
	width: 48px;
	height: 48px;
	padding-left: 25px;
}

img.fb {
	padding-left: 0;
}

/* ---- Media Queries ---- */
@media only screen and (min-width: 768px) {
	body {
		margin-top: 125px;
	}
	.wrapper {
		max-width: 650px;
		margin: auto;
	}

	#header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 700px;
		padding-bottom: 10px;
	}

	#header-img img {
		width: 166px;
		height: 84px;
	}

	.menu {
		display: flex;
		align-items: center;
	}

	.menu li a {
		display: block;
		padding: 30px 20px;
		flex: 1;
	}

	#nav-bar li {
		font-size: 16px;
	}

	#nav-bar ul {
		margin-top: 5px;
	}

	#about {
		max-width: 75%;
	}

	#video iframe {
		width: 648px;
		height: 365px;
	}

	.form-wrapper {
		width: 484px;
	}

	.group {
		display: flex;
		flex-direction: row;
	}
	input {
		width: 314px;
	}
	.submit-button {
		width: 143px;
		margin: 0 0 0 25px;
	}
	.coupon {
		width: 484px;
		text-align: center;
	}
}

@media only screen and (min-width: 1024px) {
	.wrapper {
		max-width: 872px;
		margin: auto;
	}

	#header {
		width: 800px;
	}

	#header-img img {
		margin-left: 20px;
	}
}
